= fields_for(@opportunity) do |o|
  = o.hidden_field :user_id
  = o.hidden_field :access
  = o.hidden_field :assigned_to
  = o.hidden_field :campaign_id
  = o.hidden_field :source
  = o.hidden_field :name
  = o.hidden_field :stage
  = o.hidden_field :closes_on
  = o.hidden_field :probability
  = o.hidden_field :amount
  = o.hidden_field :discount
